PORT=3004
DATABASE_URL=postgresql://user:pass@host:6543/postgres?schema=clinical_service&pgbouncer=true&sslmode=require
DIRECT_URL=postgresql://user:pass@host:5432/postgres?schema=clinical_service&sslmode=require
JWT_SECRET=change_this_secret

OCR_SPACE_API_KEY=your_ocr_space_api_key
OCR_SPACE_API_URL=https://api.ocr.space/parse/image
OCR_SPACE_ENGINE=2
OCR_SPACE_LANGUAGE=spa

SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key
SUPABASE_BUCKET=clinica-x-archivos

FILE_SERVICE_URL=http://localhost:3003
AUTH_SERVICE_URL=http://localhost:3000

NODE_ENV=development
