PORT=3001
DATABASE_URL="postgresql://user:password@host:6543/postgres?schema=appointment_service&pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://user:password@host:5432/postgres?schema=appointment_service&sslmode=require"
JWT_SECRET=change_this_secret
AUTH_SERVICE_URL=http://localhost:3000
