PORT=3000
DATABASE_URL="postgresql://user:password@host:6543/postgres?schema=auth_service&pgbouncer=true&sslmode=require"
DIRECT_URL="postgresql://user:password@host:5432/postgres?schema=auth_service&sslmode=require"
JWT_SECRET=change_this_secret
JWT_EXPIRES_IN=1d
SUPABASE_EDGE_FUNCTION_URL=https://project-ref.supabase.co/functions/v1
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
INTERNAL_EMAIL_SECRET=change-this-email-secret
FRONTEND_URL=http://localhost:3100
